<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <a class="navbar-brand" href="#">Random Users</a>
    <div class="col-md-4" style="padding: 10px; margin-left: 400px;">
            <div class="input-group stylish-input-group input-append">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
    </div>
    <a routerLink="../login" class="navbar-brand" (click)="onLogout()" style="float: right;">Logout</a>
</nav>